.shoe{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    .shoeImg{
        display: flex;
        flex-direction: row;
        img{
            border: 1px solid black;
            width: 450px;
            width: 450px;
        }
        aside{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 10px;
            img{
            border: 1px solid black;

                width: 100px;
                height: 100px;
            }
        }
    }
    .shoeDetail{
        h3{
            margin-bottom: 10px;
        }
        ul{
            list-style-type: none;
            li{
                margin-bottom: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 20px;
                input{
                    font-size: 17px;
                }
            }
        }
    }
}